
#action_button{
        
        color: white;
        background-color: #F83A3A;
        border-style: solid;
        border-width: 1px;
        border-color: #333;
        padding: 12px 4px;
}

#action_button:hover {
        
        padding: 12px 48px;
        background-color: #F25050;
}

#label_style{

        color: white;
        font-family: "Lucida Conosole", Monaco, monospace;
        font-size: 32px
}

#main_window {
        background-color: #2B00E9;
}
        

