* {
    font-size: 24px;
    background-color: #FFF;
}

.main-label {
    padding: 4px 8px;
    border-radius: 10px;
    margin: 8px;
    margin-top: 32px;
}

.green-background {
    background-color: lightgreen;
}

.red-background {
    background-color: #FE8D8D;
}

button {
    margin: 0px 32px;
}