* {
    font-size: 24px;
    background-color: #FFF;
}

.main-label {
    margin: 8px;
    margin-top: 32px;
    border-radius: 5px;
}

.green-backgound {
    background-color: lightgreen;
}

.red-background {
    background-color: red;
}

button {
    margin: 0px 32px;
}